* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  background-color: white;
}



.article-list {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

img {
  width: 256px;
  height: 256px;
}

.article-header {
  grid-area: tit;
}

.article-body {
  grid-area: txt;
}

.article-image {
  grid-area: pic;
}

.article-footer {
  grid-area: but;
}

.article-header {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.article-date {
  padding-bottom: 1rem;
}

.article {
  display: flex;
  flex-direction: column;
  flex-basis: 5rem 1fr;
  border-bottom: 2px solid black;
}

.article-header {
  height: 3rem;
  margin: 1rem;
  font-size: 1.3rem;
}

.article-bottom {
  padding: 1rem 1rem 2rem 1rem;
  display: grid;
  grid-column-gap: 1rem;
  grid-template-areas:
     "pic pic txt txt txt txt"
     "pic pic but but but but";
}

button {
  font-size: 1rem;
  border:1px solid black;
  padding: .5rem;
  border-radius: .5rem;
  margin: 1rem;
}

.button {
  padding: 1rem;
}
